---
interface Props {
  src: string;
  description: string;
}

const { src, description } = Astro.props;
---

<div class="h-min w-full rounded-l md:cursor-pointer bg-white rounded-lg">
  <img
    class="object-cover object-center rounded-t-lg"
    height="200"
    src={src}
    alt={description}
    loading="lazy"
    xtransition:name="cover-image"
  />
  <p class="p-4 font-normal text-gray-700">{description}</p>
</div>

<script>
  const link = document.querySelectorAll("img");
  const model = document.querySelector("#modal");

  if (model && window.matchMedia("(min-width: 768px)").matches) {
    link.forEach((img) => {
      img.addEventListener("click", (img) => {
        model.classList.remove("hidden");
        model.querySelectorAll("img")[0].src = img.target.src;
      });
    });
  }
</script>
