@mixin triangle($size, $color){
	width: 0;
	height: 0;
	border-style: solid;
	border-width: $size $size 0 0;
	border-color: $color transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
}