$break-mobile: 320px;
$break-tablet: 800px;
$break-hugescreen: 1400px;
$light-text: #808080;
$normal-text: #454545;
$highlight-color: #f06;

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: $light-text;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.entypo-down-open, .entypo-up-open{
	font-size: 30px;
}
.entypo-address, .entypo-cc, .entypo-mail, .entypo-megaphone {
	font-size: 20px;
	margin-right: 10px;
}

.title{
	font-size: 18px;
	font-weight: 400;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #f9f7f3;
	color: $normal-text;
}

a{
	color: $normal-text;
}

.header{
	margin-top: 15px;
	position: relative;
	.logo{
		position: absolute;
		text-transform: uppercase;
		top: 0;
		left: 10px;
		z-index: 1000;
		width: 160px;
		height: 40px;
	}
	#triangleBackground{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		z-index: 999;
	}

	#secretMessage{
		width: 100%;
		z-index: 1;
		background-color: #f06;
		color: #fff;
		-webkit-box-sizing: border-box;
	 		-moz-box-sizing: border-box;
	  			box-sizing: border-box;
		&.loading {
			padding: 8% 20%;
			text-align: center;
			font-size: 20px;
			&:after{
				content: 'Loading';
				-webkit-animation-name: pulse;
				animation-name: pulse;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
			}
			.text{
				display: none;
			}
		}
		.text{
			padding: 8% 20%;
			font-size: 20px;
			text-align: center;
			@media screen and (max-width: $break-mobile) {
				font-size: 15px;
			}
			@media screen and (max-width: $break-tablet) {
				font-size: 20px
			}
		}
	}
}



.welcome{
	width: 100%;
	position: relative;
	background-size: 200px auto;
	background-repeat: no-repeat;
	background-position: 90% 125%;
	.text, .text2{
		font-size: 25px;
		text-align: center;
		padding: 50px 30px 0 30px;
		line-height: 2.3;
	}
	.text2{
		font-size: 20px;
		padding-bottom: 50px;
	}
	.highlight{
		color: $highlight-color;
		font-weight: 400;
	}
}

.page-content{
	padding: 0;
}

.content-category{
	padding: 4% 6%;
	border-top: 1px solid #c1c1c1;
	position: relative;
	@media screen and (min-width: $break-hugescreen) {
		padding: 4% 15%;
	}
	&:last-child{
		border-bottom: 1px solid #c1c1c1;
	}
	&:nth-child(2n+1){
		background-color: #F0EDEA;
	}
	.name{
		font-size: 45px;
		font-weight: 700;
		.description{
			color: $light-text;
			font-weight: 300;
			font-size: 30px;
			margin-left: 1%;
		}
	}
	.nav{
		a{
			display: inline-block;
			width: 30px;
			text-decoration: none;
		}
		position: absolute;
		top: 3%;
		right: 2%;
	}
	.content{
		padding: 5% 0;
		.skill-bar{
			width: 100%;
			position: relative;
			.description{
				position: absolute;
				right: 0;
				top: 0;
				width: 20%;
				text-align: right;
			}
			.bar{
				background-color: $normal-text;
				width: 80%;
				height: 20px;
				-moz-border-radius: 5px;
					 border-radius: 5px;
			 	margin-bottom: 10px;
				 &:last-child{
				 	margin-bottom: 0;
				 }
				.progress{
					background-color: $highlight-color;
					height: 20px;
					-moz-border-top-left-radius: 5px;
					 	 border-top-left-radius: 5px;
	 				-moz-border-bottom-left-radius: 5px;
					 	 border-bottom-left-radius: 5px;
				}
			}
		}

	}
}

.post{
	padding: 2% 0;
	.image{
		float: left;
		width: 30%;
		height: 140px;
		border: 1px solid #aaaaaa;
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	  	background-position: 50% 50%;
	}
	.text{
		line-height: 1.6;
		margin-top: -3px;
		margin-left: 33%;
		font-size: 15px;
		color: $light-text;
		.title{
			color: $normal-text;
		}
		.date, .tags{
			text-align: right;
			font-size: 12px;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.three-column{
	.column{
		float: left;
		width: 33%;
		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
  			box-sizing: border-box;
		&:first-child{
			padding-right: 3%;
		}
		&:last-child{
			padding-left: 3%;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.contact{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 500px;
	.text{
		width: 50%;
	}
}

.socialmedia{
	width: 100%;
	margin-top: 40px;
	font-size: 60px;
	text-align: center;
	a{
		text-decoration: none;
	}
}




