$break-mobile: 320px;
$break-tablet: 800px;
$light-text: #808080;
$normal-text: #454545;
$highlight-color: #f06;

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 30px;
  color: $light-text;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #f9f7f3;
	color: $normal-text;
}

#aboutTag{
	color: #fff;
	z-index: 999;
	font-size: 36px;
	position: absolute;
	margin-top: -65px;
	width: 100%;
	text-align: center;
	.name{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
}

#triangleBackground{
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 999;
}

#secretMessage{
	position: relative;
	width: 100%;
	margin-top: 25px;
	z-index: 1;
	background-color: #f06;
	color: #fff;
	-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
  			box-sizing: border-box;
	.text{
		padding: 0 20%;
		font-size: 20px;
		text-align: center;
		position: absolute;
		top: 30%;
	  @media screen and (max-width: $break-mobile) {
	    font-size: 15px;
	  }
	  @media screen and (max-width: $break-tablet) {
	    font-size: 20px
	  }

	}
}

.welcome{
	width: 50%;
	margin: 0 auto;
	.text{
		font-size: 25px;
		color: $highlight-color;
		text-align: center;
		padding: 50px 30px;
	}
}

.page-content{
	padding: 0;
}

.content-category{
	padding: 4% 6%;
	border-top: 1px solid #c1c1c1;
	position: relative;
	&:last-child{
		border-bottom: 1px solid #c1c1c1;
	}
	&:nth-child(2n+1){
		background-color: #F0EDEA;
	}
	.name{
		font-size: 45px;
		font-weight: 700;
		.description{
			color: $light-text;
			font-weight: 300;
			font-size: 30px;
			margin-left: 1%;
		}
	}
	.nav{
		a{
			display: inline-block;
			width: 30px;
			text-decoration: none;
		}
		position: absolute;
		top: 3%;
		right: 2%;
	}
	.content{
		padding: 5% 0;
		.skill-bar{
			width: 100%;
			position: relative;
			.description{
				position: absolute;
				right: 0;
				top: 0;
				width: 20%;
				text-align: right;
			}
			.bar{
				background-color: $normal-text;
				width: 80%;
				height: 20px;
				-moz-border-radius: 5px;
					 border-radius: 5px;
			 	margin-bottom: 10px;
				 &:last-child{
				 	margin-bottom: 0;
				 }
				.progress{
					background-color: $highlight-color;
					height: 20px;
					-moz-border-top-left-radius: 5px;
					 	 border-top-left-radius: 5px;
	 				-moz-border-bottom-left-radius: 5px;
					 	 border-bottom-left-radius: 5px;
				}
			}
		}

	}
}

.post{
	padding: 2% 0;
	.image{
		float: left;
		width: 30%;
		height: 140px;
		border: 1px solid #aaaaaa;
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	  	background-position: 50% 50%;
	}
	.text{
		margin-top: -3px;
		margin-left: 33%;
		font-size: 15px;
		color: $light-text;
		.title{
			font-size: 18px;
			font-weight: 400;
			color: $normal-text;
		}
		.date, .tags{
			text-align: right;
			font-size: 12px;
		}
	}
	iframe{
		margin: 3% 0;
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.three-column{
	.column{
		float: left;
		width: 33%;
		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
  			box-sizing: border-box;
		&:first-child{
			padding-right: 3%;
		}
		&:last-child{
			padding-left: 3%;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}




