$break-mobile: 320px;
$break-tablet: 800px;
$light-text: #808080;
$normal-text: #454545;
$highlight-color: #f06;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #f9f7f3;
	color: $normal-text;
}

@font-face {
    font-family: 'PrintClearly';
    src: url('fonts/printclearly.ttf');
    font-weight: normal;
    font-style: normal;
}

#aboutTag{
	color: #fff;
	z-index: 999;
	font-size: 36px;
	position: absolute;
	margin-top: -65px;
	width: 100%;
	text-align: center;
	.name{
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
}

#triangleBackground{
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 999;
}

#secretMessage{
	position: relative;
	width: 100%;
	margin-top: 25px;
	z-index: 1;
	background-color: #f06;
	color: #fff;
	-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
  			box-sizing: border-box;
	.text{
		padding: 0 20%;
		font-size: 20px;
		text-align: center;
		position: absolute;
		top: 30%;
	  @media screen and (max-width: $break-mobile) {
	    font-size: 15px;
	  }
	  @media screen and (max-width: $break-tablet) {
	    font-size: 20px
	  }

	}
}

.welcome{
	width: 50%;
	margin: 0 auto;
	.text{
		font-size: 25px;
		color: $highlight-color;
		text-align: center;
		padding: 50px 30px;
	}
}

.page-content{
	padding: 0;
}

.content-category{
	padding: 4% 6%;
	border-top: 1px solid #c1c1c1;
	&:last-child{
		border-bottom: 1px solid #c1c1c1;
	}
	&:nth-child(2n+1){
		background-color: #F0EDEA;
	}
	.name{
		font-size: 45px;
		font-weight: 700;
		.description{
			color: $light-text;
			font-weight: 300;
			font-size: 30px;
			margin-left: 1%;
		}
	}
	.content{
		//border: 1px solid #000;
		.skill-bar{
			width: 100%;
			position: relative;
			.description{
				position: absolute;
				right: 0;
				top: 0;
				width: 20%;
				text-align: right;
			}
			.bar{
				background-color: $normal-text;
				width: 80%;
				height: 20px;
				-moz-border-radius: 5px;
					 border-radius: 5px;
			 	margin-bottom: 10px;
				 &:last-child{
				 	margin-bottom: 0;
				 }
				.progress{
					background-color: $highlight-color;
					height: 20px;
					-moz-border-top-left-radius: 5px;
					 	 border-top-left-radius: 5px;
	 				-moz-border-bottom-left-radius: 5px;
					 	 border-bottom-left-radius: 5px;
				}
			}
		}
		
	}
}

.post{
	padding: 2% 0;
	.title{
		width: 80%;
		float: left;
		font-size: 20px;
	}
	.date{
		width: 20%;
		float: right;
		text-align: right;
		font-size: 20px;
		color: $light-text;
	}
	.tags{
		color: $highlight-color;
	}
	.content{
		padding: 3% 0;
	}
	span.image{
		display: block;
		width: 20%;
		float: left;
		margin-right: 3%;
		img{
			display: block;
			width: 100%;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

.three-column{
	.column{
		float: left;
		width: 33%;
		text-align: center;
		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
  			box-sizing: border-box;
		&:first-child{
			padding-right: 3%;
		}
		&:last-child{
			padding-left: 3%;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}




