@import "tailwindcss";

@theme {
  /* Font families */
  --font-family-sans: "OpenSans", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
