---
import Header from "../Header.astro";
import "../../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Header title={title} />
  <body class="bg-[#8576ff]/10">
    <slot />
    <footer class="p-8">
      <a href="/impressum" class="underline">Impressum</a>
    </footer>
  </body>
</html>
