---
import Layout from "../layouts/Layout_plane.astro";
---

<Layout title="Kristin Fritsch - Credits">
  <div class="bg-[var(--purple)] p-4 text-sm h-96">
    <a href="/"
      ><img
        src="/images/Interface-Essential-Signin-Login--Streamline-Pixel.svg"
        class="w-5 h-5 inline align-baseline"
        alt="Icon einer Tür mit einem Pfeil nach draußen"
      /></a
    >
    <div class="p-3">
      <p class="bloc">
        <span class="font-semibold">Credits</span>
        <br /><br />
        <p>
          Die Pixelicons sind von
          <a
            href="https://streamlinehq.com"
            target="_blank"
            class="underline underline-offset-2 decoration-solid hover:decoration-2 hover:decoration-dotted"
            rel="noreferrer noopener">https://streamlinehq.com</a
          >.
        </p>
      </p>
    </div>
  </div>
</Layout>
