---
import Layout from "../layouts/Layout_plane.astro";
---

<Layout title="Kristin Fritsch - Credits">
  <div class="bg-(--purple) p-4 text-md h-96">
    <a href="/"
      ><img
        src="/images/Interface-Essential-Signin-Login--Streamline-Pixel.svg"
        class="w-5 h-5 inline align-baseline"
        alt="Icon einer Tür mit einem Pfeil nach draußen"
      /></a
    >
    <div class="p-3">
      <div class="bloc break-all">
        <span class="font-semibold">Credits</span>

        <p class="py-1 mt-5">
          Die Pixelicons sind von
          <a
            href="https://streamlinehq.com"
            target="_blank"
            class="underline underline-offset-2 decoration-solid hover:decoration-2 hover:decoration-dotted"
            rel="noreferrer noopener">https://streamlinehq.com</a
          >.
        </p>

        <p class="py-1">
          Das Favicon wurde mit <a
            href="https://favicon.io/favicon-generator"
            target="_blank"
            class="underline underline-offset-2 decoration-solid hover:decoration-2 hover:decoration-dotted"
            rel="noreferrer noopener"
            >https://favicon.io/favicon-generator/
          </a> erstellt.

          <p class="text-[14px]">
            Font Title: Leckerli One
            <br />
            Font Author: Copyright (c) 2011 Gesine Todt (www.gesine-todt.de hallo@gesine-todt.de)
            with Reserved Font Names "Leckerli"
            <br />
            Font Source: https://fonts.gstatic.com/s/leckerlione/v20/V8mCoQH8VCsNttEnxnGQ-1itLZxcBtItFw.ttf
            <br />
            Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL))
            <br />
          </p>
        </p>
      </div>
    </div>
  </div>
</Layout>
