---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout_plane.astro";
---

<Layout title="Kristin Fritsch - Flips">
  <div class="bg-white p-4 text-md">
    <a href="/"
      ><img
        src="/images/Interface-Essential-Signin-Login--Streamline-Pixel.svg"
        class="w-5 h-5 inline align-baseline"
        alt="Icon einer Tür mit einem Pfeil nach draußen"
      /></a
    >
    <div class="mt-6 xl:mt-20">
      <div class="xl:max-w-2xl mx-auto">
        <h1 class="text-xl mb-4">Hallo liebe Geburtstagsgäste,</h1>
        <p>
          nach langer Wartezeit bin ich nun endlich in den Genuss meines
          <b>Erdnussflips-Vollbades</b> gekommen. Vielen Dank noch einmal für eure
          zahlreichen Spenden, in Form von Erdnussflips-Tüten, ohne die dieses einmalige
          Ereignis nicht hätte stattfinden können.
        </p>
        <br />
        <p>
          Auf den Fotos könnt ihr mich sehr glücklich und entspannt während
          meines Flips-Bades sehen. (Bitte nicht nachmachen!)
        </p>
        <br />
        <p>Cheers, Krissi!</p>
        <p class="text-sm mt-6">
          Vielen Dank an Ben und Alex für Fotografie & Postproduction
        </p>
        <br />
      </div>
      <img
        src="https://storage.abwesend.com/public/flipsbad/_DSC0229.jpeg"
        alt="Krissi im Flipsbad"
        class="md:block mt-12 xl:mt-24 xl:max-w-2xl mx-auto"
      />

      <img
        src="https://storage.abwesend.com/public/flipsbad/_DSC0252.jpeg"
        alt="Krissi im Flipsbad"
        class="md:block mt-24 xl:max-w-2xl mx-auto"
      />

      <img
        src="https://storage.abwesend.com/public/flipsbad/_DSC0240.jpeg"
        alt="Krissi im Flipsbad"
        class="md:block mt-24 xl:max-w-2xl mx-auto"
      />

      <img
        src="https://storage.abwesend.com/public/flipsbad/_DSC0241.jpeg"
        alt="Krissi im Flipsbad"
        class="md:block my-24 xl:max-w-2xl mx-auto"
      />
    </div>
  </div>
</Layout>
