@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
/* line 10, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 30px;
  color: gray; }

/* line 16, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
* {
  margin: 0;
  padding: 0; }

/* line 21, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f9f7f3;
  color: #454545; }

/* line 28, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
#aboutTag {
  color: #fff;
  z-index: 999;
  font-size: 36px;
  position: absolute;
  margin-top: -65px;
  width: 100%;
  text-align: center; }
  /* line 36, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  #aboutTag .name {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }

/* line 42, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
#triangleBackground {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 999; }

/* line 52, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
#secretMessage {
  position: relative;
  width: 100%;
  margin-top: 25px;
  z-index: 1;
  background-color: #f06;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 62, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  #secretMessage .text {
    padding: 0 20%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 30%; }
    @media screen and (max-width: 320px) {
      /* line 62, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
      #secretMessage .text {
        font-size: 15px; } }
    @media screen and (max-width: 800px) {
      /* line 62, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
      #secretMessage .text {
        font-size: 20px; } }

/* line 78, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.welcome {
  width: 50%;
  margin: 0 auto; }
  /* line 81, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .welcome .text {
    font-size: 25px;
    color: #ff0066;
    text-align: center;
    padding: 50px 30px; }

/* line 89, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.page-content {
  padding: 0; }

/* line 93, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.content-category {
  padding: 4% 6%;
  border-top: 1px solid #c1c1c1;
  position: relative; }
  /* line 97, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .content-category:last-child {
    border-bottom: 1px solid #c1c1c1; }
  /* line 100, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .content-category:nth-child(2n+1) {
    background-color: #F0EDEA; }
  /* line 103, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .content-category .name {
    font-size: 45px;
    font-weight: 700; }
    /* line 106, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
    .content-category .name .description {
      color: gray;
      font-weight: 300;
      font-size: 30px;
      margin-left: 1%; }
  /* line 113, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .content-category .nav {
    position: absolute;
    top: 3%;
    right: 2%; }
    /* line 114, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
    .content-category .nav a {
      display: inline-block;
      width: 30px;
      text-decoration: none; }
  /* line 123, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .content-category .content {
    padding: 5% 0; }
    /* line 125, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
    .content-category .content .skill-bar {
      width: 100%;
      position: relative; }
      /* line 128, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
      .content-category .content .skill-bar .description {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        text-align: right; }
      /* line 135, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
      .content-category .content .skill-bar .bar {
        background-color: #454545;
        width: 80%;
        height: 20px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 10px; }
        /* line 142, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
        .content-category .content .skill-bar .bar:last-child {
          margin-bottom: 0; }
        /* line 145, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
        .content-category .content .skill-bar .bar .progress {
          background-color: #ff0066;
          height: 20px;
          -moz-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
          -moz-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px; }

/* line 159, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.post {
  padding: 2% 0; }
  /* line 161, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post .title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700; }
    /* line 165, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
    .post .title:before {
      content: '';
      display: block;
      clear: both; }
  /* line 171, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post .date {
    font-size: 15px;
    color: gray; }
  /* line 175, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post .tags {
    color: #ff0066;
    text-align: right; }
  /* line 179, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post .content {
    padding: 3% 0; }
  /* line 182, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post span.image {
    display: block;
    width: 20%;
    float: left;
    margin-right: 3%; }
    /* line 187, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
    .post span.image img {
      display: block;
      width: 100%; }
  /* line 192, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .post:after {
    content: '';
    display: block;
    clear: both; }

/* line 200, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.three-column .column {
  float: left;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 206, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .three-column .column:first-child {
    padding-right: 3%; }
  /* line 209, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
  .three-column .column:last-child {
    padding-left: 3%; }
/* line 213, /home/rof/src/github.com/Twissi/me-online/source/stylesheets/main.css.scss */
.three-column:after {
  content: '';
  display: block;
  clear: both; }
